<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IRTicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <IRTicker.Properties.Settings>
            <setting name="RefreshFreq" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ExportSummarised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FullGDAXOB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Slack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlashForm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SlackToken" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowOB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SlackNameChange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SlackDefaultName" serializeAs="String">
                <value />
            </setting>
            <setting name="UITimerFreq" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="NegativeSpread" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SlackNameFiatCurrency" serializeAs="String">
                <value>AUD</value>
            </setting>
            <setting name="SpreadHistoryCustomFolder" serializeAs="String">
                <value>G:\My Drive\IR\IRTicker\Spread history data\</value>
            </setting>
            <setting name="IRAPIPubKey" serializeAs="String">
                <value />
            </setting>
            <setting name="IRAPIPrivKey" serializeAs="String">
                <value />
            </setting>
            <setting name="IRAPIPubKey1" serializeAs="String">
                <value />
            </setting>
            <setting name="IRAPIPubKey2" serializeAs="String">
                <value />
            </setting>
            <setting name="IRAPIPubKey3" serializeAs="String">
                <value />
            </setting>
            <setting name="IRAPIPubKey4" serializeAs="String">
                <value />
            </setting>
            <setting name="IRAPIPubKey5" serializeAs="String">
                <value />
            </setting>
            <setting name="IRAPIPrivKey1" serializeAs="String">
                <value />
            </setting>
            <setting name="IRAPIPrivKey2" serializeAs="String">
                <value />
            </setting>
            <setting name="IRAPIPrivKey3" serializeAs="String">
                <value />
            </setting>
            <setting name="IRAPIPrivKey4" serializeAs="String">
                <value />
            </setting>
            <setting name="IRAPIPrivKey5" serializeAs="String">
                <value />
            </setting>
            <setting name="APIFriendly1" serializeAs="String">
                <value />
            </setting>
            <setting name="APIFriendly2" serializeAs="String">
                <value />
            </setting>
            <setting name="APIFriendly3" serializeAs="String">
                <value />
            </setting>
            <setting name="APIFriendly4" serializeAs="String">
                <value />
            </setting>
            <setting name="APIFriendly5" serializeAs="String">
                <value />
            </setting>
            <setting name="APIFriendly" serializeAs="String">
                <value />
            </setting>
            <setting name="TelegramCode" serializeAs="String">
                <value />
            </setting>
            <setting name="TelegramChatID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableWindowsFormsHighDpiAutoResizing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TelegramAPIToken" serializeAs="String">
                <value />
            </setting>
            <setting name="TelegramAllNewMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SlackNameEmojiCrypto" serializeAs="String">
                <value>BTC</value>
            </setting>
            <setting name="TGBot_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoanSlushEncoded" serializeAs="String">
                <value />
            </setting>
            <setting name="LoanSlushEncoded_B2C2" serializeAs="String">
                <value />
            </setting>
            <setting name="B2C2Token" serializeAs="String">
                <value />
            </setting>
            <setting name="CoinbaseAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="CoinbaseAPISecret" serializeAs="String">
                <value />
            </setting>
            <setting name="CoinbasePassPhrase" serializeAs="String">
                <value />
            </setting>
            <setting name="LoanSlushEncoded_Coinbase" serializeAs="String">
                <value />
            </setting>
        </IRTicker.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
